<?php
$title = 'Auth';
$this->headTitle($title);
?>
<?php
$authForm->setAttribute('action', $this->url('auth/login'));
$authForm->setAttribute('class', 'form');
$authForm->prepare();
?>
<div class="center">
    <?php
        echo $this->form()->render($authForm);
    ?>
    <a href="<?php echo $this->url('register'); ?>"><?php echo $this->translate('Registration'); ?></a>
    <a href="<?php echo $this->url('auth/send-restore-link'); ?>">
        <?php echo $this->translate('restore_password'); ?>
    </a>
</div>
