form {
    min-width:270px;
    max-width: 480px;
}
form.fullWidth{
    max-width: none;
}
form.noPadding{
    padding:0 !important;
}
form.fullWidth .minSection{
    width:300px;
}
form.fullWidth > fieldset{
    min-width:300px;
    max-width: 480px;
}
form.fullWidth .section{
    margin-right: 50px;
    display:inline-block;
    vertical-align: top;
}
form.noPadding .fieldset{
    padding:15px 15px 0 15px;
}
form.fullWidth .limitedWidth{
    min-width:270px;
    max-width: 480px;
}
form.fullWidth .buttons,
form.fullWidth .fieldset{
    border-bottom:1px solid #ccc;
}
/*form.fullWidth .buttons:last-child{
    border-bottom: none;
}*/
form .buttons{
    padding:15px 0 0;
}
form.noPadding > .buttons{
    padding:15px 15px 0 15px;
}
.filtersBox form{
    max-width: none;
}
form .element{
    margin:0 10px 15px 0;
    vertical-align: middle;
    display: inline-block;
}
form label {
    display: block;
    margin-bottom: 15px;
    font-size: 17px;
    width: 100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
label,
label > span{
    margin-right: 10px;
}
form label > span{
    display: block;
    margin-bottom: 7px;
    cursor:default;
}
form label[for] {
    display: block;
    margin-bottom: 7px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color:    #555 !important;
}
input:-moz-placeholder, textarea:-moz-placeholder { 
    color:    #555 !important;
}
input::-moz-placeholder, textarea::-moz-placeholder { 
    color:    #555 !important;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color:    #ccc !important;
}
input:not([type="submit"]):not([type="button"]):not([type="reset"]),
textarea {
    width:100%;
    padding: 7px 5px;
    margin-right:10px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
input:not([type="submit"]):not([type="button"]):not([type="reset"]),
textarea,
select {
    font-family: roboto, Helvetica ,Arial, Verdana, sans-serif;
    font-size: 16px;
    border-radius: 0;
    border: 1px solid #a3a3a3;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset;
    background: #fff;
    margin-bottom:15px;
    color:#474747;
    display: inline-block;
    vertical-align: middle;
}
input.disabled:not([type="submit"]):not([type="button"]):not([type="reset"]),
textarea.disabled,
select.disabled,
input[disabled]:not([type="submit"]):not([type="button"]):not([type="reset"]),
textarea[disabled],
select[disabled]{
    color: #b0b0b0 !important;
    border: 1px solid #b0b0b0 !important;
    text-shadow: 1px 1px 0 #fff !important;
    background: #f3f3f3;
}
input.readonly:not([type="submit"]):not([type="button"]):not([type="reset"]),
textarea.readonly,
input[readonly]:not([type="submit"]):not([type="button"]):not([type="reset"]),
textarea[readonly]{
    color: #969696;
    background: #f3f3f3;
}
select{
    padding:6px;
    margin-right:10px;
}
form .chosen-container-multi{
    width:100% !important;
}
.dateCalendarBox{
    width:100%;
    margin:0 10px 15px 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.dateCalendarBox input{
    margin:0 !important;
    color:#474747 !important;
    background: #fff !important;
}
.dateCalendarBox div.error {
    margin-top: 5px;
    margin-bottom: -7px;
}
.filtersBox{
    padding-bottom: 0 !important;
    position: relative;
    z-index: 2;
}
.filtersBox form .dateCalendarBox,
.filtersBox form input, 
.filtersBox form textarea, 
.filtersBox form select,
.filtersBox form .button,
.filtersBox form button{
    width:auto !important;
}
.filtersBox form .dateCalendarBox{
    min-width:270px;
}
.filtersBox form .dateCalendarBox input{
    width:100% !important;
}
.filtersBox form .chosen-container-multi{
    width:auto !important;
    min-width:200px;
}
.filtersBox form .checkboxWrapper{
    display: inline-block;
    vertical-align: middle;

}
form .checkboxWrapper{
    width:auto;    
}
form .checkboxWrapper > span{
    margin-bottom: 0;
}
input:focus:not([type="submit"]):not([type="button"]):not([type="reset"]),
textarea:focus,
select:focus {
    border-color: #777 !important;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset, 0  0 10px rgba(0, 0, 0, 0.15);
    outline: none;
}
label .chosen-container,
label input:not([type="submit"]):not([type="button"]):not([type="reset"]),
label textarea,
label select{
    margin: 0;
}

form div.error {
    color:#ff0000;
    font-size: 13px;
    margin:-10px 0 7px;
}
input.error,
textarea.error,
select.error {
    border-color: #ff0000 !important;
}
.error.bubbleError{
    margin-right:35px !important;
}
.errorBubble{
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.errorBubble .error{
    position: absolute;
    top:15px;
    right: 5px;
    margin: 0;
    font-size: 0;
    line-height: 0;
}
.errorBubble .error:hover{
    padding: 7px;
    background: #e8e3c1;
    line-height: 1.1;
    max-width: 200px;
    font-size: 12px;
    min-width: 130px;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.errorBubble .error:before{
    font-family: "icons";
    content: '\e80f';
    color: #ff0000;
    cursor: default;
    position: absolute;
    right: 5px;
    top:-22px;
    font-size: 20px;
}
.errorBubble .error:hover:before{
    top:-33px;
}
.errorBubble .error:after{
    position: absolute;
    width: 0px;
    height:0px;
    border:7px solid;
    border-top-width: 0;
    border-color: transparent transparent #e8e3c1 transparent;
    content: '';
    top:-7px;
    right:7px;
    display:none;
}
.errorBubble .error:hover:after{
    display: block;
}

input[type="submit"],
input[type="button"],
button,
.button,
.aButton {
    display: inline-block;
    vertical-align: middle;
    font-family: roboto, Helvetica ,Arial, Verdana, sans-serif;
    border-radius: 0px;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    /*box-shadow: 0 0 5px rgba(0,0,0,0.3);*/
    padding: 7px 15px;
    font-weight: normal;
    outline: none;
    cursor:pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    color: #6b6b6b;
    background: #e5e5e5;
    border: 1px solid #b0b0b0;
    /*text-shadow: 1px 1px 0 #cecece;*/
    background: -moz-linear-gradient(top,  #f3f3f3 0%, #e5e5e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#e5e5e5));
    background: -webkit-linear-gradient(top,  #f3f3f3 0%,#e5e5e5 100%);
    background: -o-linear-gradient(top,  #f3f3f3 0%,#e5e5e5 100%);
    background: -ms-linear-gradient(top,  #f3f3f3 0%,#e5e5e5 100%);
    background: linear-gradient(to bottom,  #f3f3f3 0%,#e5e5e5 100%);
    margin-right: 10px;
}
input[type="submit"],
input[type="button"]{
    padding: 6px 15px 7px;
}
.button,
.aButton{
    padding: 8px 15px 9px;
}
form input[type="submit"],
form input[type="button"],
form button,
form .button,
form .aButton{
    margin-bottom: 15px;
}

.aButton,
input[type="submit"],
button[type="submit"]{
    color: #fff !important;
    background: #8ac620;
    border: none;
    font-weight: 500;
}
input[type="button"]:active,
button:active:not([type="submit"]):not(.wait),
.button:active{
    background: #80b81e;
}
.aButton:active:not(.wait),
input[type="submit"]:active:not(.wait),
button[type="submit"]:active:not(.wait){
    background: #80b81e;
}
.aButton:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
button:focus,
.button:focus{
    box-shadow: 0  0 10px rgba(0, 0, 0, 0.15);
    outline: none;
}
.aButton:focus,
input[type="submit"]:focus,
button[type="submit"]:focus{
    border-color:#358f31;    
}
input[type="button"]:focus,
button:focus,
.button:focus{
    border-color:#777;  
}
.aButton:hover,
input[type="submit"]:hover,
button[type="submit"]:hover{
    border-color:#358f31;
    outline: none;
    background: #80b81e;
}

input[type="button"]:hover,
button:hover:not([type="submit"]),
.button:hover{
    color:#000;
    border-color:#777;
    outline: none;
}

.disabled > .aButton,
.disabled > .button,
.disabled > button,
.disabled > .ddlButton .button,
.aButton.disabled,
.button.disabled,
input[type="button"].disabled,
input[type="submit"].disabled,
input[type="button"][disabled],
input[type="submit"][disabled],
button.disabled,
button[disabled]{
    color: #b0b0b0 !important;
    border: 1px solid #b0b0b0 !important;
    text-shadow: 1px 1px 0 #fff !important;
    background: -moz-linear-gradient(top,  #f3f3f3 0%, #e5e5e5 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#e5e5e5)) !important;
    background: -webkit-linear-gradient(top,  #f3f3f3 0%,#e5e5e5 100%) !important;
    background: -o-linear-gradient(top,  #f3f3f3 0%,#e5e5e5 100%) !important;
    background: -ms-linear-gradient(top,  #f3f3f3 0%,#e5e5e5 100%) !important;
    background: linear-gradient(to bottom,  #f3f3f3 0%,#e5e5e5 100%) !important;
    cursor:default !important;
}
button[disabled]:after,
button[disabled]:before{
    color: #b0b0b0 !important;
}

.aButton.wait,
input[type="submit"].wait,
button[type="submit"].wait{
    text-shadow: none;
    color:#555 !important;

    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    background-image:
        -webkit-linear-gradient(
        -45deg,
        #8ac620 25%,
        #c4e984 25%,
        #c4e984 50%,
        #8ac620 50%,
        #8ac620 75%,
        #c4e984 75%,
        #c4e984
    );
    background-image:
        -moz-linear-gradient(
        -45deg,
        #8ac620 25%,
        #c4e984 25%,
        #c4e984 50%,
        #8ac620 50%,
        #8ac620 75%,
        #c4e984 75%,
        #c4e984
    );
    background-image:
        -ms-linear-gradient(
        -45deg,
        #8ac620 25%,
        #c4e984 25%,
        #c4e984 50%,
        #8ac620 50%,
        #8ac620 75%,
        #c4e984 75%,
        #c4e984
    );
    background-image:
        linear-gradient(
        -45deg,
        #8ac620 25%,
        #c4e984 25%,
        #c4e984 50%,
        #8ac620 50%,
        #8ac620 75%,
        #c4e984 75%,
        #c4e984
    );

}
input[type="button"].wait,
button.wait:not([type="submit"]),
.button.wait{
    text-shadow: none;
    color:#000;

    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    background-image:
        -webkit-linear-gradient(
        -45deg,
        rgba(206,206,206,1) 25%,
        #ffffff 25%,
        #ffffff 50%,
        rgba(206,206,206,1) 50%,
        rgba(206,206,206,1) 75%,
        #ffffff 75%,
        #ffffff
    );
    background-image:
        -moz-linear-gradient(
        -45deg,
        rgba(206,206,206,1) 25%,
        #ffffff 25%,
        #ffffff 50%,
        rgba(206,206,206,1) 50%,
        rgba(206,206,206,1) 75%,
        #ffffff 75%,
        #ffffff
    );
    background-image:
        -ms-linear-gradient(
        -45deg,
        rgba(206,206,206,1) 25%,
        #ffffff 25%,
        #ffffff 50%,
        rgba(206,206,206,1) 50%,
        rgba(206,206,206,1) 75%,
        #ffffff 75%,
        #ffffff
    );
    background-image:
        linear-gradient(
        -45deg,
        rgba(206,206,206,1) 25%,
        #ffffff 25%,
        #ffffff 50%,
        rgba(206,206,206,1) 50%,
        rgba(206,206,206,1) 75%,
        #ffffff 75%,
        #ffffff
    );
}
.aButton.wait,
input[type="button"].wait,
input[type="submit"].wait,
button.wait,
.button.wait{
    -webkit-background-size:50px 50px;
    -moz-background-size:50px 50px;
    -ms-background-size:50px 50px;
    background-size:50px 50px;
    -webkit-animation:move 2s linear infinite;
    -moz-animation:move 2s linear infinite;
    -ms-animation:move 2s linear infinite;
    animation:move 2s linear infinite;
}

#captcha-image{
    vertical-align: middle;
    width:50%;
    height:auto;
    margin-right: 5%;
    margin-bottom: 15px;
}
#captcha{
    width:40%;
    vertical-align: middle;
}

fieldset {
    margin-bottom: 10px;
    padding-top:10px;
}
 
@-webkit-keyframes move{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}   
@-moz-keyframes move{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}   
@-ms-keyframes move{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}   
@keyframes move{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
} 
form label.checkbox{
    padding-left:23px;
    margin-bottom:-17px;
}
form label.inline,
form label.radio.inline{
    display: inline-block;
    width:auto;
}
form label.inline{
    vertical-align: middle;
}
form label.inline > span{
    display: inline-block;
}
form label.radio > span{
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}
input[type="radio"],
input[type="checkbox"]{
    width:auto !important;
    border:none !important;
    padding: 0px !important;
    margin:0 10px 15px 0 !important;
    border-radius:0 !important;
}
label input[type="radio"],
label input[type="checkbox"]{
    margin-bottom: 0 !important;
}
form label.checkboxWrapper{
    position: relative;
}
form label.checkboxWrapper span{
    padding-left:23px;
    display: inline-block;
    vertical-align: middle;
}
form label.checkboxWrapper input[type="checkbox"]{
    position: absolute;
    top:3px;
    left: 0;
}
form label.checkbox ~ input[type="checkbox"]{
    margin-bottom:18px  !important;
}
input[type="radio"]{
    border-radius:5px !important;
}
input[type="radio"]:focus,
input[type="checkbox"]:focus{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6) !important;
}


.ddlButton{
    display: inline-block;
    position: relative;
    margin-right:10px;
}
.ddlButton .list{
    position:absolute;
    border:1px solid #cecece;
    background: #fff;
    padding:10px 0;
    min-width:50px;
    max-width:300px;
    margin-top:-1px;
    z-index: 2;
    margin-top:1px;
    box-shadow: 0  0 10px rgba(0, 0, 0, 0.15);
}
.ddlButton.up .list{
    bottom:100%;
}
.ddlButton.right .list{
    right: 0;
}
.ddlButton .list > a,
.ddlButton .list > span{
    display: block;
    padding:0 15px;
    line-height:30px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    cursor: pointer;
    text-decoration: none;
}
.ddlButton .list > a:hover,
.ddlButton .list > span:hover{
    background: #e5e5e5;
    color:#000;
    text-decoration: none;
}
.ddlButton .disabled{
    display:none;
}
.ddlButton > .actionButton{
    font-size:16px;
    line-height: 1.1;
}
.ddlButton > .aButton,
.ddlButton > .actionButton,
.ddlButton > .button{
    position: relative;
    z-index:1;
    margin:0;
}
.ddlButton > .aButton:after,
.ddlButton > .actionButton:after,
.ddlButton > .button:after{
    content:'';
    display:inline-block;
    width:0;
    height:0;
    font-size: 0;
    line-height: 0;
    margin:0 0 0 10px;
    border:6px solid;
    border-color: #5e5e5e transparent transparent;
    border-bottom-width: 2px;
}
.ddlButton > .aButton:after{
    border-top-color: #fff;
}
.ddlButton > .aButton.active:after,
.ddlButton > .actionButton.active:after,
.ddlButton > .button.active:after{
    border-color: transparent transparent #5e5e5e transparent;
    border-bottom-width: 6px;
    border-top-width: 0px;
    position: relative;
    top:-2px;
}
.ddlButton > .aButton.active:after{
    border-bottom-color: #fff;
}
.disabled > .ddlButton > .actionButton:after,
.disabled > .ddlButton > .button:after{
    border-color: #ccc transparent transparent;
}
.dateCalendarBox{
    position:relative;
    display: inline-block;
    vertical-align: middle;
}
.dateCalendarBox .list{
    padding:0;
}
.dateCalendarBox .showDate{
    padding-right: 40px !important;
}
.dateCalendarBox .showDate.active{
    padding-right: 60px !important;
}
.dateCalendarBox .icon-calendar{
    position:absolute;
    top:0px;
    right:0px;
    font-size: 18px;
    margin:0;
    cursor:pointer;
    width:24px;
    height:24px;
    padding:8px 7px 6px;
}
.dateCalendarBox .icon-cancel{
    position:absolute;
    top:0px;
    right:28px;
    font-size: 14px;
    margin:0;
    cursor:default;
    display:none;
    width:16px;
    height:16px;
    padding:11px;
}
.dateCalendarBox .active ~ .icon-cancel{
    display: block;
}
form .cellBox{
    padding:0 0 10px 10px;
}
form .cell{
    min-width:270px;
    max-width: 480px;
    width:24.2%;
    display:inline-block;
    vertical-align: top;
    padding:15px;
    border: 1px solid #ccc;
    margin: 10px 10px 0 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.jplSpinSelect{
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 15px 0;
    position: relative;
    width:100%;
}
.jplSpinSelect .prev,
.jplSpinSelect .next{
    width:20px;
    position: absolute;
    right:1px;
    font-family: "icons";
    text-align: center;
    cursor:pointer;
    font-size: 18px;
    line-height:18px;
    overflow:hidden;
    height:16px;
}
.jplSpinSelect .prev.disabled,
.jplSpinSelect .next.disabled{
    color: #cecece;
    cursor: default;
    display:block !important;
}
.jplSpinSelect .prev{
    top:2px;
}
.jplSpinSelect .prev:after{
    content: '\e80a';
    margin:0;
}
.jplSpinSelect .next{
    bottom:1px;
}
.jplSpinSelect .next:after{
    content: '\e807';
    margin:0;
}
.jplSpinSelect > input{
    color:#474747 !important;
    background: #fff !important;
    padding-right:25px;
    margin-bottom: 0 !important;
}
