table {
    width: 100%;
    max-width: 100%;
}
table thead th {
    background: #e5e5e5;
    padding: 10px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
    color:#6b6b6b;
    vertical-align: middle;
}
table thead th > .current{
    white-space: nowrap;
}
table thead th.check{
    font-size: 16px;
}
table thead th.check .select,
table thead th.check .deselect{
    margin:0;
}
table thead th > .current.desc:after{
    content:'';
    display:inline-block;
    width:0;
    height:0;
    font-size: 0;
    line-height: 0;
    margin:0 0 0 10px;
    border:6px solid;
    border-color: #5e5e5e transparent transparent;
    border-bottom-width: 2px;
}
table thead th > .current.asc:after{
    content:'';
    display:inline-block;
    width:0;
    height:0;
    font-size: 0;
    line-height: 0;
    margin:0 0 0 10px;
    border:6px solid;
    border-color: transparent transparent #5e5e5e transparent;
    border-bottom-width: 6px;
    border-top-width: 0px;
    position: relative;
    top:-2px;
}



table tbody td{
    padding: 10px;
    border-top: 1px solid #ccc;
    background: #f5f5f5;
    vertical-align: middle;
}
table tbody tr:nth-child(2n) td {
    background: #f2f2f2;
}
table tbody tr:last-child td{
    border-bottom: 1px solid #ccc;
}
table tbody tr.selected td{
    background: #c7c7c7;
}
table tbody tr.selected:nth-child(2n) td {
    background: #c7c7c7;
}
table tbody td.selected,
table tbody td.selected ~ td{
    background: #d9d9d9 !important;
}
table tbody td.check{
    cursor: default;
}
table tbody td.check:before{
    font-family: "dashboard-icons";
    content: '\e80c';
    display: inline-block;
    vertical-align: middle;
    cursor: pointer !important;
    margin-right:2.5px;
    margin-left: 4px;
    font-size: 16px;
}
table tbody td.selected.check:before{
    content: '\e80b';
    margin-right:0;
}


table tfoot {
    box-shadow: 0 2px 2px -1px #aaa inset;
}
table tfoot td {
    padding: 10px;
    background: #F2EDDA;
    color: #555;
    border-bottom: 1px solid #E0DBC7;
}

.rightWhite thead th:last-child,
.rightWhite tbody td:last-child,
.rightWhite tfoot td:last-child{
    background: #F2EDDA;
    color: #555;
    text-shadow: none;
    border-top: none;
    border-bottom: 1px solid #E0DBC7;
    box-shadow: 5px 0 5px -5px #aaa inset;
}
.rightWhite thead th:last-child {
    background: #EDE8D5;
}
.rightWhite tbody tr:nth-child(2n) td:last-child {
    background: #EDE8D5;
}
.rightWhite tbody td:last-child {
    text-align: center;
    font-weight: bold;
}
.gridIcon{
    text-decoration: none !important;
    color:#999;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
}
.gridIcon:hover{
    color:#333;
}
.gridIcon[data-button]{
    cursor:pointer;
}
.gridIcon:before{
    margin: 0 !important;    
}
.selectToggleBox{
    display:inline-block;
    vertical-align: middle;
    position:relative;
}
.selectToggleBox:before{
    content: '';
    position:absolute;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    z-index:999;
}
.selectToggleBox.disabled:before{
    display: block;
}
.selectToggleBox.active:before{
    display: none;
}
table.aHead th{
    text-align: center;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
table.aHead th:last-child{
    border-right: 1px solid #ccc;
}
table.aHead tr:nth-child(1) th{
    background: #f0f0f0;
}
table.aHead tr:nth-child(2) th{
    background: #ebebeb;
}
table.aHead tr:nth-child(3) th{
    background: #e5e5e5;
}
table.aForm input{
    margin:0 !important;
}