<?php echo $this->doctype(); ?>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <?php echo $this->headTitle('Index')->setSeparator(' - ')->setAutoEscape(false) ?>
    <?php
    echo $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge');
    ?>
    <?php if ($this->resolver('build/build')) : ?>
        <?php echo $this->render('build/build'); ?>
    <?php endif; ?>
    <?php if ($this->resolver('build/lang_build')) : ?>
        <?php echo $this->render('build/lang_build'); ?>
    <?php endif; ?>
    <?php echo $this->headScript(); ?>
</head>
<body>
<?php
if (ENVIRONMENT == 'stable') {
    echo '<div id="developer" class="alarm" data-box="replace">WARNING! LIVE DATABASE!</div>';
}
if (XHPROF) {
    echo '<div id="developer" data-box="replace"><a href="link4XHProfReport" target="_blank">Profiler Report</a></div>';
}
?>
<div data-role="page" id="page_<?php echo $this->pageId; ?>" class="root <?php echo $this->pageClass; ?><?php echo $this->identity() ? ' auser' : ''; ?>">
    <div id="header">
        <div class="center">
            <a id="logo" class="logo" href="<?php echo $this->url('home') ?>" title="<?php echo $this->translate('Home') ?>"></a>
            <a class="menuButton hfButton icon-menu" data-button data-id="headerMenuToggle"><span class="icon-menu"></span></a>
            <?php $user = $this->identity()?>
            <?php echo $this->navigation('Index\Navigation')
                ->setAcl($this->getHelperPluginManager()->getServiceLocator()->get('App\Acl')->getAcl())
                ->setRole(null === $user ? 'guest' : $user->role)
                ->menu()
                ->setTranslator($this->plugin('translate')->getTranslator())
                ->setPartial('layout/main_navigation_template')?>
        </div>
    </div>
    <div id="content">
        <?php echo $this->content; ?>
    </div>
</div>
<div id="footer">
    <div class="center">
        <div id="copy">&copy; <?php echo date('Y'); ?> <?= "Car1 Project" ?></div>
    </div>
</div>
</body>
</html>