<?php
/**
 * Created by PhpStorm.
 * User: ogxone
 * Date: 28.08.15
 * Time: 18:27
 */

use \Utils\Helpers\StaticHtmlHelper;
$container = $this->container;
?>
<ul class="navigation">
    <?php
    foreach ($container as $page) {/**@var $page Zend\Navigation\Page\Mvc*/?>
        <?php if (!$this->navigation()->accept($page)) continue; ?>
        <?php $hasChildren = $page->hasPages() ?>
        <?php if (!$hasChildren){ ?>
            <?php
                $opts = [];
                $url = $page->getHref();
                switch ($page->getId()) {
                    case 'logout':
                        $opts = [
                            'data-id' => 'request',
                            'data-button' => '',
                            'data-url' => $page->getHref(),
                            'data-redirect-success-url' => $this->url('home')
                        ];
                        $url = '';
                }
            ?>
            <li <?php if ($page->isActive()) echo ' class="active"' ?>>
                <?php
                    if ($this->navigation()->accept($page)) {
                        echo StaticHtmlHelper::a(
                            $this->escapeHtml($this->translate($page->getLabel(), $this->navigation($container)->getTranslatorTextDomain())),
                            $url,
                            $opts
                        );
                    }
                ?>
            </li>
            <?php } else { ?>
                <?php
                //check if access is allowed at least one item
                $access = false;
                foreach ($page->getPages() as $child) {
                    if ($this->navigation()->accept($child) && $child->get("separator") !== true) {
                        $access = true;
                    }
                }
                if ($access) {
                    ?>
                    <li class="<?php if ($page->isActive(true)) echo ' active' ?>">
                        <a href="#">
                            <?php echo $this->escapeHtml($this->translate($page->getLabel(),$this->navigation($container)->getTranslatorTextDomain())); ?>
                        </a>
                        <ul>
                            <?php foreach ($page->getPages() as $child){ ?>
                                <?php if (!$this->navigation()->accept($child)) continue; ?>
                                <li<?php if ($child->isActive()) echo ' class="active"' ?>>
                                    <a href="<?php echo $child->getHref() ?>"
                                        <?php if ($child->getTarget() != ""){ ?>
                                            target="<?php echo $child->getTarget(); ?>"
                                        <?php } ?> >
                                        <?php echo $this->escapeHtml($this->translate($child->getLabel(),$this->navigation($container)->getTranslatorTextDomain())); ?>
                                    </a>
                                </li>
                            <?php } ?>
                        </ul>
                    </li>
                <?php } ?>
            <?php }?>
        <?php } ?>
</ul>
